.user-bar{
  background-color: $dark-gray;
  text-align: right;
  .row.column {
    width: 100%;
    max-width: 1200px;
  }
  ul {
    justify-content: flex-end;
  }
  a {
    color: $white;
    text-transform: uppercase;
    &:hover {
      color: $accent-color;
    }
  }
}
.sticky-container {
  position: absolute;
  width: 100%;
}
.top-bar {
  background-color: $primary-color;
  margin-top: 0 !important;
  max-width: 100% !important;
  width: 100%;
  z-index: 5;
  .menu {
    background-color: $primary-color;
    a {
      color: $white;
      text-transform: uppercase;
      flex-flow: column;
      text-align: center;
      font-size: rem-calc(14px);
      padding: $global-padding/2;
      &:hover {
        color: $accent-color;
      }
      @include breakpoint(large) {
        padding: $global-padding;
        margin: 0 1rem;
      }
      i {
        @include breakpoint(medium) {
          display: block;
          font-size: rem-calc(32px);
          margin-bottom: $global-margin/2;
        }
        @include breakpoint(large) {
          margin-bottom: $global-margin;
        }
      }
      span {
        @include breakpoint(medium) {
          display: block;
        }
      }
    }
  }
  .social {
    a {
      margin: 0;
      padding: 0.5rem;
      i {
        font-size: rem-calc(24px);
      }
    }
  }
  #large-menu {
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
    .home {
      float: left;
      padding-left: 0;
      margin-left: 0;
    }
    > .row {
      justify-content: space-between;
    }
  }
  .small-menu-bar {
    width: 100%;
    .home img {
      max-height: 32px;
    }
    .fa-bars {
      color: $white;
      float: right;
      font-size: rem-calc(32px);
    }
  }
  #small-menu {
    margin-top: $global-margin;
    width: 100%;
    a {
      width: 100%;
      display: block;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }
  }
}

.spacer {
  width: 100%;
  height: rem-calc(64px);
  @include breakpoint(medium) {
    height: rem-calc(170px);
  }
}