<div class="row align-center">
    <div class="small-12 medium-5 large-4">
        <h1>Activate Account</h1>
        {% form 'activate_customer_password' %}
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="customer[password]" />
            </div>
            <div class="password_confirm">
                <label for="password_confirmation">Password Confirmation</label>
                <input type="password" name="customer[password_confirmation]" />
            </div>
            <div class="action_bottom">
                <input type="submit" value="Activate Account" class="button"/>
                <input type="submit" name="decline" value="Decline Invitation" class="alert button"/>
                {{ form.errors | default_errors }}
            </div>
        {% endform %}
    </div>
</div>